registry=https://registry.npmmirror.com/
esbuild_binary_host_mirror=https://registry.npmmirror.com/-/binary/esbuild/
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
sass_binary_site=https://registry.npmmirror.com/-/binary/node-sass
playwright_download_host=https://registry.npmmirror.com/-/binary/playwright
fund=false
audit=false
